.rightcontent{
	position: absolute;
	left:230px;
	overflow-x:hidden; 
	overflow-y:auto;
}
.externalSystemMenu{
	width:100%;
	position: absolute;
	left:0px;
	overflow:hidden; 
}
#allcontent{
	height: 100%;
	width:100%;
}
#leftcontent{
	position: absolute;
	height: 630px;
	overflow:auto;
	width:230px;
	left:0px;
}
#layerOne{
	width:0px;
	height:0px; 
}
#layerTwo{
	width:0px;
	height:0px; 
}
#managerOperator{
	width:150px;
	display: none;
	float: left;
}
#allcontainer{
    position: relative;
}
